---
layout: contact
title: Contact
permalink: /contact/
---

<div id="contactwrap"></div>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h4>Just Get In Touch!</h4>
            <div class="hline"></div>
                <p>I am a telecommunication engineer (Master level) with lots of projects in my head. I was born in Spain, but I'm currently living in Malmö, Sweden. I have always shown interest about the technology, so it's very exciting to run this website with some of my current work. I hope I can share as many projects as possible. Oh, and if you like any project, you can always <a href="{{site.social.github.protocol}}{{site.social.github.url}}">grab the code from GitHub</a>. You can also <a href="{{site.social.email.protocol}}{{site.social.email.url}}">email me</a> if you have any suggestion, question, or any other reason.</p>
                <!--<form role="form">
                  <div class="form-group">
                    <label for="InputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email1">
                  </div>
                  <div class="form-group">
                    <label for="InputSubject1">Subject</label>
                    <input type="subject" class="form-control" id="subject1">
                  </div>
                  <div class="form-group">
                    <label for="message1">Message</label>
                    <textarea class="form-control" id="message1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-theme">Submit</button>
                </form>-->
        </div><! --/col-lg-8 -->

        <div class="col-lg-4">
            <h4>Address</h4>
            <div class="hline"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
                <p>
                    {% for network in site.social %}
                    {{ network.name }}: <a href="{{ network.protocol }}{{ network.url }}"> {{ network.url }} </a><br/>
                    {% endfor %}
                    Tel: {{ site.tel }}
                </p>
        </div>
    </div><! --/row -->
</div><! --/container -->
