---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-home"></i>
                <h4>Home</h4>
                <p>You can leave your shoes by the entrance. You can learn a bit more about me, see some projects, contact me and many other options. Feel free to explore!</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-briefcase"></i>
                <h4>Curriculum</h4>
                <p>Want to check my background? Please, head over here. If you like it, feel free to contact me! You'll find everything you need at the bottom of the page.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-gears"></i>
                <h4>Projects</h4>
                <p>Here you'll see all the projects I'm working on. See the pictures, browse the code, and even interact with it!</p>
            </div>	 				
        </div>
		<div class="row centered">
			<div class="col-md-4">
				<p><br/><a href="#" class="btn btn-theme">More Info</a></p>			
			</div>
			<div class="col-md-4">
				<p><br/><a href="#" class="btn btn-theme">More Info</a></p>	
			</div>
			<div class="col-md-4">
				<p><br/><a href="#" class="btn btn-theme">More Info</a></p>	
			</div>
		</div>
    </div><! --/container -->
</div><! --/service -->

{% include portfolio.html title="LATEST WORKS" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Me.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Suggestions</h4>
            <div class="hline"></div>
            <p>You can <a href="contact">Contact me</a> for any suggestions, improvements, or questions about any project. If you find any bug or problem in the website, please let me know. Thank you for your help!</p>
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->
