<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Welcome to my virtual home</h3>
                <h1>Sergio Ruiz.</h1>
                <h5>Telecommunications engineer. Read, play and listen to music, and work with technology are my passions.</h5>
                <h5>I hope you have fun!</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/main.jpg" | prepend: site.baseurl }}" class="img-responsive ">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
