
/*	################################################################

	Author: Sergio Ruiz

	Description: Table of content formatting 
	Version: 1.0
		
################################################################# */

/* Remove bullet points from TOC*/
#markdown-toc
{
    /*Adjust box to correct size*/
    overflow: auto; 
    display: inline-block;
    /*Frame coloring and adjustment*/
    padding: 10px 10px 10px 10px;
    border: 1px solid {{ site.colors.toc_border }};
    /*Background of TOC*/
    background: {{ site.colors.toc_background }};
}

#markdown-toc, #markdown-toc ul
{
    list-style-type: none;
}

/*First elements of the List are slightly bigger*/
#markdown-toc ul > li
{
    text-indent: 1.5em;
}