
/*	################################################################

	Author: Sergio Ruiz

	Description: Table of content formatting 
	Version: 1.0
		
################################################################# */ 
#toc
{
    list-style-type: none; 
}